
body{
      width: 100%;
      height: 100%;
      position: absolute;
      background:#e1e8ef;

}

/*Cabeçalho branco Perfil, configurações, Notificações */
 .cabecalho-branco{
   width: 100%;
   height: 5%;
 }

  .logo ul li{
    width: 100%;
    height: 15%;
    text-align: left;
    list-style: none;
}
.notificacao{

}

.config{
  
}

/*Navegador azul*/

 .navegador-azul {
  /*  width: 100%;
    height: 25%;
    list-style-type: none;
    background-color: */
    background:#4a90e2;
    width:100%;
    height:20%;
}
